/* this way to make comment */

html
{ height: 100%;}

*
{ margin:0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height:  1.70em
}

h1,h2,h3,h4,h5
{color: #e76f84;
 letter-spacing:  0em;
 padding: 0px 0px 5px 0px;
}

h1, h2, h3
{ font: normal 160% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}


h2
{
	font-size: 160%;
	padding: 9px 0 5px 0;
}

h3{
	font-size: 140%;
	padding: 5px 0 0 0;
}

h4
{color:#009FBC ;
 padding: 0 0 5px 0;
 font: normal 110% arial;
 text-transform: uppercase;
}

h5
{color: #888;
 font: normal 95% arial;
 letter-spacing: normal;
 padding: 0 0 15px 0;}

 a, a:hover
 {
 	outline: none;
 	text-decoration: underline;
 	color: #009FBC;
 }

a: hover
{text-decoration: none}


ul
{margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

#general_main, #logo, #navbar #site_content, #footer
{
	margin-left:auto;
	margin-right:auto;
}

#header
{
	background: #1d1d1d url(pattern2.jpg) repeat;
	height:177px;
	border-bottom: 2px solid #E7746F; 


}

#banner
{
	background:  transparent url(banner5.jpg) no-repeat;
	width: 965px; /** change:oringal 965px 180***/
	height: 225px;
	margin-bottom: 20px;
			/**border:2px solid #E7746F;/*******/,

}

#index-banner
{
	background:  transparent url(banner5.jpg) no-repeat;
	width: 965px; /** change:oringal 965px 180***/
	height: 270px;
	margin-bottom: 20px;
	padding: 27px 0 0 0;
			/**border:2px solid #E7746F;/*******/,

}

#logo
{
	width: 880px;
	position: relative; /** move to the center**/
	height: 140px;
	background: transparent;
}

#logo #logo_text
{
	position: absolute;
	top: 10px;
	left:0;
}

#logo h1, #logo h2
{
	font: normal 300% 'century gothic', arial, sans-serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0 0 0 9px;
}

#logo_text h1, #logo_text h1 a,#logo_text h1 a:hover
{
	padding: 22px 0 0 0;
	color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
}
 #logo_text h1 a .logo_color
 {color: #E7746F;}

 #logo_text a:hover .logo_color
 {color:#FFF;}

 #logo_text h2
 {
 	font-size: 120%;
 	padding: 4px 0 0 0;
 	color:#FFF;
 }

#navbar
{
	width: 930px;
	height:46px;
    margin-left: auto;
    margin-right: auto;
}

ul#navigation
{
	float:right; /** make the navigation centered left **/
	margin:0;
}

ul#navigation li
{
	float:left;
	padding:0 0 0 9px;
	list-style: none;
	margin:1px 2px 0 0 ;
	background: transparent;
    width: 135px;
    
}

ul#navigation li a
{
	font:normal 100%  'trebuchet ms', sans-serif;
	display: block;
	float:left; 
	height:20px;
	padding:6px 5px 5px 8px;
	text-align: center;
	color:#FFF;
	text-decoration: none;
	background: transparent;
    width: 126px;
        text-transform: uppercase;
}

ul#navigation li.selected a
{
	height: 20px; /** home pink height ***/
    width: 126px;

    
}

ul#navigation li.selected
{
	background:#E7746F;
	margin:1px 2px 0 0;
    text-transform: uppercase;

}

ul#navigation li.selected a, ul#navigation li.selected a:hover
{
	background: #E7746F;

}

ul#navigation li a:hover
{
	color:black;
	    text-transform: uppercase;
    background:#E7746F;
}

#site_content
{
	width:965px; /** change:oringal 880px***/
	overflow: hidden;
	margin: 0 auto 0 auto;
	padding: 0 0 10px 0;
}
#sidebar_container
{	
    float:right; /*** or switch this sidebar container with content ***/
	width:224px;   /***224 ***/
}

.sidebar_top
{
	width:222px;
	height:14px;
	background: transparent url(side_top.png) no-repeat;
}

.sidebar_base
{
	width:222px;
	height:14px;
	background: url(side_base.png) no-repeat;
}

.sidebar
{
	width:222px;
	padding:0;
	margin:0 0 16px 0;
}

.sidebar_item
{
	background: url(side_back.png) repeat-y;
	padding: 0 15px;
	width: 192px;
}

.sidebar li a.selected
{
	color: #444;
}

.sidebar ul
{
	margin: 0;
}

#content
{
	text-align: left; 
	width: 720px;  /***620**/
	padding: 0 0 0 5px;
}

#content ul
{
	margin: 2px 0 22px 0px;
}


#content ul li, .sidebar ul li
{
	list-style-type: none;
	background: url(bullet.png) no-repeat;
	margin: 0 0 0 0 ;
	padding: 0 0 4px 25px;
	line-height: 1.5em;
}

#footer
{
	width:100%;
	font-family: 'trebuchet ms', sans-serif;
	font-size: 100%;
	height: 80px;
	padding:28px 0  5px 0;
	text-align: center;
	/***background: transparent, url(pattern2.jpg) repeat;***/
	background: #1d1d1d url(pattern2.jpg) repeat;

	color: #FFF;
	border-top: 2px solid #E7746F; 
}

#footer p
{
	line-height: 1.7em;
	padding: 0 0 10px 0;
}

#footer a
{
	color: #E7746F;
	text-decoration: none;
}

.search
{
	color: #5D5D5D;
	border:1px solid #BBB;
	width: 134px;
	padding: 4px;
	font:100% arial, sans-serif;
}

.canvas-holder
{
  width: 700px; height: 409px; border:2px solid #000000  
}

/*** form ingnore now ***/

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #E7746F; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.item{
	margin: 0;
	Padding: 2em o;
	border-top: 1px solid rgba(39,41,43,.15);
	min-width: 100%;
	font-size: 1em;
	table-layout: fixed;
	display:table;
	width: 100%;

}

.content {
	width: 100%;
	display: table-cell;
	margin-left: 0;
	vertical-align: top;
	padding-left: 1.5em;
	margin:0;
	padding: 0;
	font-size: 1em;
}

.articletitle {
	color: rgba(0,0,0,.85);
	margin: - .165em 0 0;
	font-size: 1.28rem;
}


.meta {
	color: gray;
	font-size: 1em;
	font-weight: bolder;
}

 **********************************
#hpcontent {
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

#intro-text {
	text-align: center;
}


.span_6 {
	float: left;
	display: block;
	margin: 2px;
	padding: 40px 0 0 5px;
	width: 49%;
	height: 100%;

}

#row{
	width: 960px;
	height: 470px;
}

p.intro{
	width: 470px;
	height: 371px;
	
}

<!-- body class - home--> 
.home .span_6{ 
	width: 49%
}


#intro-text span {
    display: block;
}

#t-one {
    font-size: 1.8rem;
    line-height: 200%;
    font-style: italic;
}

.t-two-1 {
    font-size: 4rem;
    margin-bottom: 2.4rem;
}

.t-two {
    line-height: 60px;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px #333;
    font-weight: 700;
	color:  #e25454;
}

.t-two-2 {
    font-size: 2.5rem;
}

#t-three {
    font-size: 2.4rem;
    line-height: 4.8rem;
    font-style: italic;
    margin: 1.6rem;
    
}

#t-three span{
	background: floralwhite;
	padding: 0 10px;
	display:incline;
}

#t-four {
	margin-bottom: 1.6rem;
}
#t-five {
    font-size: 2.4rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

img{
	max-width: 100%;
	vertical-align: bottom;
}

.article.picture
{
	width: 25%;
	float: left;
	margin: 0 15px 0 0;	
}


.tu1 {
	width: 45%;
	margin: 0 30px 0 0;	
	float: left;
}

.tu2{
	width: 45%;
	margin: 0 0px 0 0;	
	float: left;
}

.portfolio_pic {
	height: 387px
}

.portfolioRow {
	width: 100%;
	height: 420px;
}
